* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
}

.wrapper {
  max-width: 1077px;
  padding: 0 40px;
  margin: 0 auto;
}

.inner {
  padding-left: 283px;
}

.aside {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 283px;
  background-color: #cccccc;
  height: 100vh;
  padding: 28px 0;
}
.aside__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.aside__list-item {
  list-style-type: none;
  padding: 8px 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.aside__list-item--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
.aside__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 40px;
  background-color: #FFFFFF;
}
.header__text {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.header__info {
  text-align: right;
}
.header__tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #CD0000;
  text-decoration: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}
.logo__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.banner {
  background: url(../img/banner-bg.jpg) no-repeat center center/cover;
  padding: 53px 0 161px;
  position: relative;
}
.banner__title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  color: #FFFFFF;
}
.banner__filter {
  position: absolute;
  background-color: #ffffff;
  padding: 24px;
  left: 40px;
  right: 40px;
  bottom: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  border: 1px solid red;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.filter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__label:not(:last-child) {
  margin-right: 32px;
}
.filter__checkbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #CD0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  width: 100%;
}
.filter__select:not(:last-child) {
  margin-right: 16px;
}
.filter__select-text {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.filter__select-box {
  background-color: #F1F1F1;
  border-radius: 2px;
  padding: 6px 10px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.filter__btn {
  background: #CD0000;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  height: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  padding: 6px 16px;
}

.popular {
  padding-top: 135px;
}
.popular__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
  padding-left: 16px;
  color: #000000;
}
.popular__title-cars {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  gap: 8px;
}
.popular__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-left: 16px;
}
.popular__checkbox:not(:first-child) {
  margin-left: 24px;
}
.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.popular__cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px 0px 16px;
  margin-bottom: 8px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
}
.popular__img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 148px;
  padding-right: 32px;
}
.popular__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 40px 13px 0;
  gap: 8px;
  margin-right: 50px;
}
.popular__drive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding: 35px 0 62px 0;
}
.popular__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 44px 0 23px 0;
  gap: 8px;
}
.popular__check {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.popular__btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background: #73DB43;
  border-radius: 35px;
  padding: 10px;
  border: none;
  font-family: "Montserrat";
}
.popular__btn-second {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background-color: #EBB428;
  border-radius: 35px;
  padding: 10px;
  border: none;
  font-family: "Montserrat";
  width: 93px;
}
.popular__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}
.popular__description-information {
  color: #000000;
}
.popular__unwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  padding: 13px;
  background-color: #F4F4F4;
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */