* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: solid red 1px;
}

body {
  font-family: "Montserrat", "sans-serif";
}

img {
  max-width: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1030px;

  @media (max-width: 768px) {
    max-width: 540px;
  }
}

.inner {
  @media screen and (min-width: 921px) {
    padding-left: 200px;
  }
}

.phone--red {
  color: #cd0000;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-decoration: none;
}

.section-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.btn--red {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #cd0000;
  padding: 6px 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}