* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: solid red 1px;
}

body {
  font-family: "Montserrat", "sans-serif";
}

img {
  max-width: 100%;
  object-fit: contain;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.wrapper {
  max-width: 1030px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 540px;
  }
}

.inner {
  @media screen and (min-width: 921px) {
    padding-left: 200px;
  }
}

.phone--red {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #cd0000;
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}