.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  background-color: #f7f7f9;
  height: 100vh;
  padding: 28px 0;
  transition: transform .3s ease;

  @media screen and (max-width: 920px) {
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    padding-top: 96px;
    width: 40%;
    max-width: unset;
  }

  @media screen and (max-width: 768px) {
    width: 70%;
  }

  &__list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-item {
    list-style-type: none;
    padding: 8px 26px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;

    @media screen and (max-width: 920px) {
      padding: 12px 45px;
    }

    &:hover {
      color: #858594;
    }

    &--active {
      border-left: 2px solid #cd0000;

      .aside__list-link {
        color: #858594;
      }
    }

    &--arrow {
      display: flex;
      align-items: center;
      gap: 11px;
    }
  }

  &__list-link {
    text-decoration: none;
    color: inherit;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &.active {
    transform: translateX(0);
  }

  .logo {
    @media screen and (max-width: 920px) {
      display: none;
    }
  }
}