.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;

  &__text {
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8b;
  }

  &__circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
}
