.footer {
  margin: 0 auto;
  padding: 32px 40px;
  max-width: 1030px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__col {
    flex: 0 0 350px;
  }

  &__title {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__desc {
    margin-bottom: 18px;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}
