.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 35px 40px;
  max-width: 1030px;

  &__text {
    color: #000000;
    font-size: 14px;
    line-height: 17px;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  &__info {
    text-align: right;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  .logo {
    margin-bottom: 0;

    @media screen and (min-width: 921px) {
      display: none;
    }
  }

  .hamburger {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
    width: 40px;
    height: 40px;

    @media screen and (min-width: 921px) {
      display: none;
    }
  }

  .hamburger__menu {
    transition: background-color .5s ease;
    border-radius: 3px;
    background-color: #000000;
    width: 30px;
    height: 5px;

    &::before {
      position: absolute;
      transform: translateY(-10px);
      transition: transform .5s ease;
      border-radius: 3px;
      background-color: #000000;
      width: 40px;
      height: 5px;
      content: "";
    }

    &::after {
      position: absolute;
      transform: translateY(10px);
      transition: transform .5s ease;
      border-radius: 3px;
      background-color: #000000;
      width: 40px;
      height: 5px;
      content: "";
    }
  }

  .hamburger.active {
    .hamburger__menu {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}