.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  background-color: #ffffff;
  max-width: 1030px;
  margin: 0 auto;

  &__text {
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  &__info {
    text-align: right;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  .logo {
    margin-bottom: 0;

    @media screen and (min-width: 921px) {
      display: none;
    }
  }

  .hamburger {
    width: 40px;
    height: 40px;
    // background-color: #1F1F1F;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
  }

  @media screen and (min-width: 921px) {
    display: none;
  }

  .hamburger__menu {
    width: 30px;
    height: 5px;
    background-color: #000000;
    border-radius: 3px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .hamburger__menu::before,
  .hamburger__menu::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #000000;
    border-radius: 3px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .hamburger__menu::before {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .hamburger__menu::after {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }



  .hamburger.active .hamburger__menu {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
    background-color: transparent;
  }


  .hamburger.active .hamburger__menu::before {
    transform: rotate(45deg) translate(35px, -35px);
    transform: rotate(45deg) translate(35px, -35px);
    transform: rotate(45deg) translate(35px, -35px);
    transform: rotate(45deg) translate(35px, -35px);
  }

  .hamburger.active .hamburger__menu::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
    -ms-transform: rotate(-45deg) translate(35px, 35px);
    -o-transform: rotate(-45deg) translate(35px, 35px);
    transform: rotate(-45deg) translate(35px, 35px);
  }

}