.popular {
  padding-top: 135px;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__title-cars {
    gap: 8px;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  &__cars {
    display: flex;
    margin-bottom: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 15px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__img {
    display: block;
    margin-bottom: 20px;
    max-height: 270px;
    object-fit: cover;

    @media screen and (min-width: 769px) {
      margin-bottom: 0;
      padding-right: 32px;
      max-height: 148px;
    }
  }

  &__img__update {
    border-radius: 2px;
    padding-right: 32px;
    width: 258px;
    max-height: 148px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__line {
    border: none;
    background-color: lightgrey;
    width: 100%;
    height: 1px;

    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  &__price {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    width: 100%;
    text-align: flex-end;

    @media screen and (max-width: 768px) {
      align-items: flex-start;
    }
  }

  &__check {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__btn {
    border: none;
    border-radius: 35px;
    background: #73db43;
    padding: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    font-family: "Montserrat";

    &--orange {
      border: none;
      border-radius: 35px;
      background-color: #ebb428;
      padding: 10px;
      width: 93px;
      color: #ffffff;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      font-family: "Montserrat";
    }
  }

  &__description {
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &-information {
      color: #000000;
    }
  }

  &__unwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #f4f4f4;
    padding: 13px;
    color: #2c2c2c;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
}